body {
    all: unset;
    display: grid;
    grid-template-columns: 150px 1fr;
    background-color: rgba(238, 238, 238, 0.409);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
    color: rgba(0, 0, 0, 0.6);
}

nav {
    background-color: rgb(60, 60, 66);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#headshot {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

#name {
    color: white;
}

.nav-sub-text {
    font-size: x-small;
    color: rgba(255, 255, 255, 0.526);
}

#nav-hr {
    width: 40%;
}

.icon {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}