body {
    height: 100vh;
    all: unset;
    display: grid;
    grid-template-columns: 150px 1fr;
    background-color: rgba(238, 238, 238, 0.409);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    color: rgba(0, 0, 0, 0.9);
}

p {
    color: rgba(0, 0, 0, 0.6);
}

nav {
    background-color: rgb(60, 60, 66);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#headshot {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

#name {
    color: white;
}

#nav-hr {
    width: 40%;
}

.icon {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.main-container {
    height: 100vh;
    overflow-y: scroll;
    padding-left: 10vw;
    padding-right: 10vw;
}

li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: rgba(0, 0, 0, 0.8);
    padding: 0.5rem;
}

.small-icon {
    height: 2rem;
    width: 2rem;
    border-radius: 10px;
}

.really-small-icon {
    opacity: 0.7;
    height: 12px;
    width: 12px;
}

iframe {
    height: 25rem;
    width: 40rem;
}

.image-container {
    display: flex;
}

.large-image {
    max-height: 35vh;
    border-radius: 10px;
    margin-right: 3rem;
}

#final-paragraph {
    padding-bottom: 5dvh;
}